<routes>
  <get    path="items" to="Item#find" />
  <!--
    handson-15 step1
    上記の記述は、次のような意味です。
    ・GETメソッドで、パス"items"にアクセスされたら、ItemActionクラスのfindメソッドを呼び出す。
    これを参考に、以下のマッピングを定義してください。
    ・POSTメソッドで、パス"items"にアクセスされたら、ItemActionクラスのsaveメソッドを呼び出す。
    ・PUTメソッドで、パス"items"にアクセスされたら、ItemActionクラスのupdateメソッドを呼び出す。
  -->
</routes>
